.timercontainer {
  display: flex;
  flex-direction: column;
  margin: 2em;
  text-align: center;
  background-color: var(--bg-card);
  border: 2px solid var(--border-card);
  border-radius: 1em;
  padding: 2em 1.5em;
}
.setting {
  all: unset;
  position: fixed;
  right: 0;
  top: 0;
  padding: 1em;
  line-height: 0.6em;
  font-size: 0.5em;
  border-radius: 50%;
  margin: 1em 1em 0 0;
  background-color: #1d4ed8;
  color: white;
}
.timeform{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 2px solid var(--border-card);
  background-color: var(--bg-card);
  padding: 1em;
  gap: 1em;
  border-radius: 1em;
}

