.container{
    background-color: var(--bg-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-card);
    padding: 3em 0;
}
.loginlogo{
    text-align: center;
    padding: 1em 0;
    color: var(--color-primary);
    font-weight: 800;
    font-size: 1.2em;
}
.formtitle{
    padding: 1em 0;
}
.authform{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.forminput{
    all: unset;
    background-color: var(--bg-section);
    font-size: 0.8em;
    padding: 1em 2em;
    border-radius: 1em;
}
.formbtn{
    all: unset;
    text-align: center;
    background-color: var(--color-primary);
    padding: 1em 0;
    border-radius: 1em;
    color: var(--text-inverse);
    font-size: 0.8em;
    margin: 0 0 1em 0;
}
.switchbtn{
    all: unset;
    text-align: center;
    font-size: 0.8em;
    border: 2px solid var(--border-default);
    padding: 1em;
    border-radius: 1em;
    margin: 0.5em 0;
}
.switchbtn:hover{
    background-color: var(--color-primary);
    color: var(--text-inverse);
}